entity-services-functionaltests/src/test/resources/entity-type-units/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:es="http://marklogic.com/entity-services" xmlns:sem="http://marklogic.com/semantics" elementFormDefault="qualified">
  <xs:element name="a" type="xs:integer" />
  <xs:element name="b" type="xs:string" />
  <xs:element name="c" type="xs:date" />
  <xs:complexType name="ETOneType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="a" />
      <xs:element ref="b" />
      <xs:element minOccurs="0" ref="c" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETOne" type="ETOneType" />
</xs:schema>